<table>
  <thead>
    <tr>
      <th>=</th>
      <th id="result" colspan="2">0</th>
      <th id="symbol" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="number">7</td>
      <td class="number">8</td>
      <td class="number">9</td>
      <td class='symbol'>/</td>
    </tr>
    <tr>
      <td class="number">4</td>
      <td class="number">5</td>
      <td class="number">6</td>
      <td class='symbol'>x</td>
    </tr>
    <tr>
      <td class="number">1</td>
      <td class="number">2</td>
      <td class="number">3</td>
      <td class='symbol'>-</td>
    </tr>
    <tr>
      <td class="number">0</td>
      <td class='result'>=</td>
      <td class="clear">C</td>
      <td class='symbol'>+</td>
    </tr>
  </tbody>
</table>
